.quali-text {
  font-size: 25px;
  top: 10px;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-primary);
  font-family: "Inter";
  font-weight: bold;
}

.directions {
  font-size: 14px;
  margin-top: 20px;
}

.projects-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  background-color: rgba(10, 6, 27, 0.757);
  margin-top: 20px;
  border-radius: 20px;
  padding: 30px;
}

.project {
  position: relative;
  height: 550px;
  min-width: 300px;
  background-color: rgb(1, 4, 17);
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 20px;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container .project:hover {
  transform: scale(1.025);
}

.projects-container .project.flipped {
  transform: rotateY(180deg);
}

.projects-container .project h1 {
  font-size: 20px;
  text-transform: uppercase;
  align-self: center;
}

.projects-container .project h2 {
  color: rgb(82, 225, 250);
  font-size: 16px;
  text-transform: capitalize;
}

.projects-container .project .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 20px;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

img {
  border-radius: 10px;
  width: 90%;
  height: 400px;
}

.project-description {
  transform: scaleX(-1);
  text-align: center;
}

.project .front h3,
.project .front h4 {
  margin: 10px;
  text-align: center;
}

.project .front h4 {
  color: var(--color-primary);
  font-size: 12px;
}

.project-description {
  text-align: center;
  margin: 10px;
}

@media (max-width: 620px) {
  .projects-container {
    width: 90%;
    padding: 0;
    margin: 20px;
  }

  .project {
    margin: 15px;
    min-width: 250px;
  }
}

@media (max-width: 500px) {
  .projects-container {
    width: 90%;
    padding: 0;
    margin: 20px 2px;
  }

  .project {
    margin: 15px;
    min-width: 250px;
  }
}
