.experience1-container {
    position: relative;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(82, 225, 250, 0.1);
    width: 60%;
    height: calc(40%);
    transition: transform 0.2s linear;
}

.experience1-container:hover {
    transform: scale(1.02);
}

.title-container1 {
    display: flex;
    flex-direction: row;
}
  
.experience-img1 {
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 75px;
}