.experience2-container {
    position: relative;
    left: 40%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(99, 51, 230, 0.1);
    flex-direction: row;
    width: 60%;
    height: calc(40%);
    transition: transform 0.2s linear;
}

.experience2-container:hover {
    transform: scale(1.02);
}

.title-container2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.experience-img2 {
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 85px;
}