.home-container {
  position: relative;
  min-height: 100vh;
  padding: 50px 40px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: inherit;
  margin-top: -50px;
  height: 520px;
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.logo .hover-show {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
}

.logo .hover-show.active {
  animation: showspin 25s linear 1s infinite;
}

@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}

.logo .circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(4, 4, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  opacity: 0;
}

.logo .hover-show.active .circle {
  opacity: 1;
}

.logo .hover-show.active .circle:nth-child(1) {
  background: url(../images/c-plus-plus.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateX(210px) translateY(0px);
}

.logo .hover-show.active .circle:nth-child(2) {
  position: absolute;
  transform: translateX(170px) translateY(123px);
  background: url(../images/c.png);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(3) {
  position: absolute;
  transform: translateX(65px) translateY(200px);
  background: url(../images/css.png);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(4) {
  position: absolute;
  transform: translateX(-65px) translateY(200px);
  background: url(../images/html.png);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(5) {
  position: absolute;
  transform: translateX(-170px) translateY(123px);
  background: url(../images/java.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(6) {
  position: absolute;
  transform: translateX(-210px) translateY(0px);
  background: url(../images/js.jpg);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(7) {
  position: absolute;
  transform: translateX(-170px) translateY(-123px);
  background: url(../images/webgl.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(8) {
  position: absolute;
  transform: translateX(-65px) translateY(-200px);
  background: url(../images/python.png);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(9) {
  position: absolute;
  transform: translateX(65px) translateY(-200px);
  background: url(../images/react.png);
  background-size: cover;
  background-position: center;
}

.logo .hover-show.active .circle:nth-child(10) {
  position: absolute;
  transform: translateX(170px) translateY(-123px);
  background: url(../images/ts.png);
  background-size: 85%;
  background-position: center;
}

#me-img {
  position: absolute;
  height: 260px;
  width: 170px;
  border-radius: 30%;
  border: 2px solid var(--color-primary);
  transform: translate(-200px);
  opacity: 0;
  animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.click-me {
  position: absolute;
  transform: translateX(-37%) rotate(30deg);
  transform-origin: right;
  color: var(--color-secondary);
  margin-top: auto;
  font-size: 24px;
  font-weight: 600;
  animation: fade 3s ease 1 0.5s forwards;
  opacity: 0;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.click-me-container {
  position: absolute;
  top: 50px;
  animation: fade-in 1s ease 1 0.5s forwards;
}

h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin-top: 50px;
  font-family: "Inter";
  font-weight: bold;
}

h2 span {
  font-size: 25px;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-primary);
}

h2 p {
  font-weight: 100;
  font-size: 20px;
  opacity: 1;
  margin-top: 1px;
  font-family: "Inter";
}

.scroll-down {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.scroll-down hr {
  background-color: blue;
  width: 20px;
}

.scroll-down h5 {
  font-size: 18px;
  text-transform: capitalize;
}

.scroll-down .scroll {
  transform: rotate(-90deg);
  font-size: 20px;
}

@media (max-width: 820px) {
  .home-container {
    position: relative;
    min-height: 100vh;
    padding: 150px 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .logo {
    position: inherit;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .logo .hover-show {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .logo .circle {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
  }

  h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 200px;
  }

  h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-primary);
    font-family: "Inter";
  }

  h2 p {
    font-size: 25px;

    font-family: "Inter";
  }
}

@media (max-width: 500px) {
  .home-container {
    position: relative;
    min-height: 100vh;
    padding: 150px 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .logo {
    position: inherit;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .logo .hover-show {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .logo .circle {
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
  }

  h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 200px;
  }

  h2 span {
    font-size: 22px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-primary);
    font-family: "Inter";
  }

  h2 p {
    font-size: 18px;

    font-family: "Inter";
  }

  .scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: -70px;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .home-container {
    position: relative;
    min-height: 100vh;
    padding: 150px 10px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .logo {
    position: inherit;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .logo .hover-show {
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .logo .circle {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
  }

  h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 250px;
  }

  h2 span {
    font-size: 22px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-primary);
    font-family: "Inter";
  }

  h2 p {
    font-size: 18px;

    font-family: "Inter";
  }
}

.draw-arrow {
  position: absolute;
  stroke-width: 3;
  stroke: var(--color-secondary); 
  fill: none;
  stroke-dasharray: 800;
  stroke-dashoffset: 800; 
  animation: draw 5s forwards infinite;
  animation-delay: 2s;
}

.tail-1 {
  stroke-width: 3;
  stroke: var(--color-secondary); 
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400; 
  animation: tail-1 5s forwards infinite;
  animation-delay: 2s; 
}

.tail-2 {
  stroke-width: 3;
  stroke: var(--color-secondary); 
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400; 
  animation: tail-2 5s forwards infinite;
  animation-delay: 2s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tail-1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tail-2 {
  to {
    stroke-dashoffset: 0;
  }
}