@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  z-index: 1;
}

:root {
  --color-primary: rgb(82, 225, 250);
  --color-primary-light: rgba(82, 197, 250, 0.644);
  --color-secondary: rgb(99, 51, 230);
  --color-secondary-light: rgba(39, 17, 233, 0.274);

  --pc-width: 75%;
  --tab-width: 90%;
  --phone-width: 100%;
}

body {
  background: rgb(2, 0, 22);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  height: 200px;
  width: 200px;
  background: rgb(82, 169, 250);
  filter: blur(130px);
}

body::after {
  content: "";
  position: fixed;
  top: 400px;
  left: 250px;
  height: 200px;
  width: 200px;
  background: rgb(255, 0, 234);
  filter: blur(150px);
}

.background-circle1 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}

.background-circle2 {
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(140px);
}

.background-circle3 {
  position: fixed;
  top: 200px;
  right: 500px;
  height: 200px;
  width: 200px;
  background: rgb(169, 240, 4);
  filter: blur(150px);
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  border-radius: 10px;
  width: var(--pc-width);
  color: var(--text-pril);
  padding: 10px 30px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    width: ver(--phone-width);
  }
}
